<h1 class="title">Lesson generator for: <%= @lesson.name %></h1>

<h2>You lesson content</h2>
<form action="/lessons/<%= @id %>" method="POST">
  <textarea name="content" cols="100" rows="10" ><%= @lesson.content %></textarea>
  <button>Update</button>
</form>

<h2>The text version</h2>
<div>
  <%= @lesson_markdown %>
</div>