<%# Embedded ruby that is displayed ( pe + tab) %>
<%# Embedded ruby that is not displayed ( er + tab) %>
<div class="container">
  <h1>Pokemon list</h1>
  <div class="row">
    <% @pokemons.each do |pokemon| %>
      <div class="col-12 col-md-4">
        <div class="card mb-3">
          <img height="260" src="<%= pokemon.image_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= pokemon.name.capitalize %></h5>
            <p class="card-text">Type: <%= pokemon.poke_type %></p>
            <a href="#" class="btn btn-primary">More details</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>