<div class="container">
  <h1>All lessons</h1>

  <div class="row col-6">
    <% @lessons.each do |lesson| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= lesson.name %></h5>
          <a href="/lessons/<%= lesson.id %>" class="card-link">Details...</a>
        </div>
      </div>
    <% end %>
  </div>
</div>